{{ partial "head.html" . }}

<main>
<div class="content container">
	<article class="post">
		<h1 class="post-title">{{ .Title }}</h1>
		<span class="post-metadata no-print">
			<span class="post-metadata-item"><i class="fas fa-calendar-alt"></i><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></span>
			<span class="post-metadata-item"><i class="fas fa-stopwatch"></i>{{ .ReadingTime }} minute read</span>
			{{ if and (.Site.Params.disqusShortname) (ne .Params.comments false) }}
				<span class="post-metadata-item"><i class="fas fa-comments"></i><a href="{{ .Permalink }}#disqus_thread" title="Comments on '{{ .Title }}'">Comments</a></span>
			{{ end }}
    </span>
		{{ .Content }}
		{{ partial "taxonomy.html" . }}
	</article>

	{{ if and (.Site.Params.disqusShortname) (ne .Params.comments false) }}
		{{ partial "disqus.html" . }}
	{{ end }}
</div>
</main>

{{ partial "foot.html" . }}
