<aside class="sidebar no-print">
  <div class="container sidebar-sticky">

    <div class="sidebar-about">
      {{ if .Site.Author.avatar }}
        {{ if (fileExists .Site.Author.avatar) }}
          <img src="{{ substr .Site.Author.avatar 6 | absURL }}" alt="{{ .Site.Author.name }}" title="{{ .Site.Author.name }}" />
        {{ else }}
          <img src="https://www.gravatar.com/avatar/{{ .Site.Author.avatar }}?s=200" alt="{{ .Site.Author.name }}" title="{{ .Site.Author.name }}">
        {{ end }}
      {{ end }}
      <p class="sidebar-author">{{ .Site.Author.name }}</p>
      {{ with .Site.Params.description }}
        <p class="sidebar-description">
          {{ . | markdownify }}
        </p>
      {{end}}
    </div>

    <nav>
    <ul class="sidebar-nav">
      {{ range .Site.Menus.sidebar }}
      <li><a href="{{ .URL }}" title="{{ .Identifier }}">{{ .Identifier }}</a></li>
      {{ end }}
    </ul>
    </nav>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item">
      {{ range .Site.Menus.social }}
        {{ if (eq .Identifier "github") }}<a href="https://github.com/{{ .Name }}" title="{{ .Name }} on GitHub" target="_blank" rel="noopener"><i class="fab fa-github-square fa-2x"></i></a>{{ end }}
        {{ if (eq .Identifier "linkedin") }}<a href="https://www.linkedin.com/in/{{ .Name }}" title="{{ .Name }} on LinkedIn" target="_blank" rel="noopener"><i class="fab fa-linkedin fa-2x"></i></a>{{ end }}
        {{ if (eq .Identifier "twitter") }}<a href="https://twitter.com/{{ .Name }}" title="{{ .Name }} on Twitter" target="_blank" rel="noopener"><i class="fab fa-twitter-square fa-2x"></i></a>{{ end }}
        {{ if (eq .Identifier "external") }}<a href="{{ .URL }}" title="{{ .Name }} on {{ .URL }}" target="_blank" rel="noopener"><i class="fas fa-external-link-square-alt fa-2x"></i></a>{{ end }}
      {{ end }}
      {{ if .Site.Params.rss }}<a href="{{ "/index.xml" | absURL }}" type="application/rss+xml" title="Subscribe to all {{ .Site.Title }} content"><i class="fas fa-rss-square fa-2x"></i></a>{{ end }}
      </li>
    </ul>
    </nav>

    {{ partial "copyright.html" . }}

  </div>
</aside>
